<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="appp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>

    <nav>
        <div class="logo"><img src="dis.jpg" alt="logo"></div>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>

        <ul class="ul container">

            <li><a href="index.html">
                    <p>Anasayfa</p>
                </a></li>
            <li><a href="implant.html">
                    <p>İMPLANT</p>
                </a></li>
            <li><a href="cocukhekimliği.html">
                    <p>Çocuk Hekimliği</p>
                </a></li>
            <li><a href="tedavi.html">
                    <p>Tedavilerimiz</p>
                </a></li>
            <li><a href="iletisim.html">
                    <p>İletişim</p>
                </a></li>
        </ul>
        <div><button type="button" class="btn btn-outline-primary">Randevu al</button></div>
    </nav>
    <div class="container" style="position: relative;padding: 50px; ">
        <div class="row" style="padding: 5px 5px;">
            <div class="col-6" style="background-color: #f5f2e9;">
                <h3>İletişim</h3><br><br>
                <form>
                    <input type="text" placeholder="Adınız ve Soyadınız" size="40px"><br><br>
                    <input type="email" placeholder="E-posta Adresiniz"size="40px"><br><br>
                    <input type="text" placeholder="Telefon Numaranız"size="40px"><br><br>
                    <textarea id="review" name="review" rows="2" cols="45">Sorunuzu Yazınız</textarea><br><br>
                    <div style="background-color:#f9f9f9; width: 220px; height: 50px; align-items: center;">
                     <a style="color: #f9f9f9;">d</a> <input type="checkbox" name="checkk" id="checkk" style="top: 50%; " >  Ben Robot Değilim
                        <img src="image/capta.png" alt="capta" width="50px" height="50px">
                        <br><br>
                        <input type="submit" name="Gönder" style="width: 100px; background-color: rgba(26, 25, 25, 0.815);color: white;">
                    </div><br><br><br>
                </form>
            </div>
            <div class="col-1"></div>
            <div class="col-5" style="background-color: #f7f7f7; left: 5px;">
                <h3>İletişim Bilgileri</h3><br><br>
               
                
                <h5> <p><i class='bx bx-location-plus'></i>        Karabuk/Safranbolu</p></h5>
                <hr>
                  <h5> <p><i class='bx bx-phone'></i>        02124557562</p></h5>
                  <hr>
                   <h5><p><i class='bx bx-phone'></i>           02725832255</p></h5>
                   <hr>
                   <h5><p><i class='bx bx-mobile'></i>           05015832255</p></h5>
                   
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48027.41830993283!2d32.60946270155074!3d41.20621620858396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40835335ca55f4a3%3A0x58c149eab8f0a954!2zS2FyYWLDvGssIEthcmFiw7xrIE1lcmtlei9LYXJhYsO8aw!5e0!3m2!1str!2str!4v1703733876494!5m2!1str!2str" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <h3></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo esse eligendi quis, repellat natus, officia
                iusto voluptatum suscipit exercitationem eveniet commodi, qui veritatis adipisci aut possimus maiores.
                Harum, tempore non.</p>

            <ul class="icons">
                <li><a href=""><i class='bx bxl-facebook'></i></a></li>
                <li><a href=""><i class='bx bxl-instagram'></i></a></li>
                <li><a href=""><i class='bx bxl-twitter'></i></a></li>
                <li><a href=""><i class='bx bxl-youtube'></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>ow4krpo4worokwkr4wopp3rk3wpork3op3<span>dishekimligi</span></p>
        </div>
    </footer>





    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>