<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="appp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>

    <nav>
        <div class="logo"><img src="dis.jpg" alt="logo"></div>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>

        <ul class="ul container">

            <li><a href="index.html">
                    <p>Anasayfa</p>
                </a></li>
            <li><a href="implant.html">
                    <p>İMPLANT</p>
                </a></li>
            <li><a href="cocukhekimliği.html">
                    <p>Çocuk Hekimliği</p>
                </a></li>
            <li><a href="tedavi.html">
                    <p>Tedavilerimiz</p>
                </a></li>
            <li><a href="iletisim.html">
                    <p>İletişim</p>
                </a></li>
        </ul>
        <div><button type="button" class="btn btn-outline-primary">Randevu al</button></div>
    </nav>
    <div class="container" style="padding: 50px;">
        <img src="image/imp.jpg" alt="">

        <h2 style="padding: 50px;">Dental İmplant</h2>
        <hr style="left: 40px; width: 300px; position: relative;top: -55px; border-color: rgb(0, 47, 255);;">

        <h3>Dental İmplant nedir? Avantajları nelerdir?</h3>
        <p style="width: 500px;">İmplantlar doğal dişlerin yerine alternatif olarak kullanılabilecek en iyi
            materyallerdir. Eksik dişlerin
            yerine yerleştirilen titanyumdan yapılmış diş kökü gibi görev yapan vida sistemleridir.

            Diş eksiklikleri sebebiyle köprü yaptırmak için komşu dişini küçültmek istemeyen, ağızdan devamlı çıkma
            eğiliminde olan hareketli protezler yerine sabit protez kullanmak isteyen hastalar için günümüzdeki en iyi
            tedavi seçeneğidir.</p>
        <h4>Bilgisayar Destekli İmplant Diş Tedavisinde süreç nasıldır?</h4>
        <p style="width: 500px; padding: 5px;">
            Tedavi süreci iki aşamadan oluşmaktadır;<br>

            İlk aşamada hastamız muayene edilir. Gerekli olan filmler ve fotoğraflar alınır. Hastaya en uygun ağız
            planlaması yapılır. Hangi implantın nereye yapılacağı, açısı, kalınlığı ve derinliği bilgisayar destekli
            implant planlamasıyla belirlenir.

            Daha sonra lokal anestezi altında kısa bir sürede işlem gerçekleştirilir. İşlem sırasında herhangi bir ağrı
            hissedilmez. Bazen hastanın tercihine göre sedasyon veya genel anestezi altında da implant uygulaması
            yapılabilmektedir. İmplant uygulamasından sonra hastanın kemiğinin durumuna göre 1,5 ay ile 4 ay arasında
            implantla kemiğin bütünleşmesi beklenir.

            Eğer üst çenede sarkmış sinüsü kaldırmak veya kemik tozu ilave etmek gerektiyorsa 5-6 ay kadar beklemek
            gerekmektedir. Bu süre sonundaki ikinci aşamada ise hastamız yaklaşık 2-3 seans gelerek implant üstüne
            gelecek porselen diş ve protezine kavuşmuş olur.</p>
        <h2 style="padding: 50px;">All-on-four Sistemi</h2>
        <hr style="left: 40px; width: 300px; position: relative;top: -55px; border-color: rgb(0, 47, 255);;">
        <p style="width: 500px; padding: 5px;">Bazen yaşa ve diş eksikliğine bağlı olarak çene kemiğinin bazı
            bölgelerinde kemik erimesi hızlı olur. Dişsiz
            hastalarda kemik erimesi olan bölgelere implant konulamayacağı zaman sağlam bulunan kemik bölgesine belli
            açılarla yerleştirilen dört adet implant sistemi ile hasta sabit proteze sahip olur.</p>
        <p style="width: 500px; padding: 5px;">
            Tedavi süreci iki aşamadan oluşmaktadır;<br>

            İlk aşamada hastamız muayene edilir. Gerekli olan filmler ve fotoğraflar alınır. Hastaya en uygun ağız
            planlaması yapılır. Hangi implantın nereye yapılacağı, açısı, kalınlığı ve derinliği bilgisayar destekli
            implant planlamasıyla belirlenir.

            Daha sonra lokal anestezi altında kısa bir sürede işlem gerçekleştirilir. İşlem sırasında herhangi bir ağrı
            hissedilmez. Bazen hastanın tercihine göre sedasyon veya genel anestezi altında da implant uygulaması
            yapılabilmektedir. İmplant uygulamasından sonra hastanın kemiğinin durumuna göre 1,5 ay ile 4 ay arasında
            implantla kemiğin bütünleşmesi beklenir.

            Eğer üst çenede sarkmış sinüsü kaldırmak veya kemik tozu ilave etmek gerektiyorsa 5-6 ay kadar beklemek
            gerekmektedir. Bu süre sonundaki ikinci aşamada ise hastamız yaklaşık 2-3 seans gelerek implant üstüne
            gelecek porselen diş ve protezine kavuşmuş olur.</p>
        <h2 style="padding: 50px;">Çene Kemiği Tozları (Greftler)</h2>
        <hr style="left: 40px; width: 450px; position: relative;top: -55px; border-color: rgb(0, 47, 255);;">
        <p style="width: 500px; padding: 5px;">Bazen yaşa ve diş eksikliğine bağlı olarak çene kemiğinin bazı
            bölgelerinde kemik erimesi hızlı olur. Dişsiz
            hastalarda kemik erimesi olan bölgelere implant konulamayacağı zaman sağlam bulunan kemik bölgesine belli
            açılarla yerleştirilen dört adet implant sistemi ile hasta sabit proteze sahip olur.</p>
        <p style="width: 500px; padding: 5px;">
            Kemik tozu olarak bilinen kemik greftleri çeşitli yöntemlerle elde edilebilmektedir. İnsan, hayvan veya
            sentetik kaynaklı olarak üretilen greftler partiküllü toz veya blok şeklindedir.

            Kemik greftleri dental implantların yapılacağı bölgede yetersiz kemik varlığında, diş çekimiyle aynı seansta
            implant yapılması istenen durumlarda, implant öncesi sinüs tabanı yükseltme operasyonlarında ya da kronik
            iltihaba sebep olan ve uzun süre ağızda kalarak kemiğin erimesine neden olan dişlerin çekimi esnasında
            kullanılır.

            İçerdiği hücreler, kemik oluşumu ve büyümesi için gerekli maddeleri sayesinde bölgenin daha hızlı
            iyileşmesine ve kemik hacminin artmasına yardımcı olur.</p>
        <h2 style="padding: 50px;">Sinüs Lifting (Sinüs Kaldırma)</h2>
        <hr style="left: 40px; width: 450px; position: relative;top: -55px; border-color: rgb(0, 47, 255);;">
        <p style="width: 500px; padding: 5px;">Üst çenede azı dişlerinin olduğu bölgede sinüs adını verdiğimiz zarla
            çevrili boşluklar vardır.

            Uzun süre dişsizlik durumlarında sinüs zarı zamanla yer çekiminin etkisiyle aşağı doğru sarkar ve o bölgeye
            implant yerleştirmek için çok kısa bir işlemle sinüs zarı yukarı kaldırılır, eski konumuyla yeni konumu
            arasına kemik tozu ve membran olarak bilinen yapay zar yerleştirilir.

            Böylece kemik seviyesi artırılarak implant yerleştirilebilir. Sinüs lifting işlemi tek başına yapılabildiği
            gibi aynı anda implant yerleştirilirken de yapılabilir.

            Çene cerrahisi uzmanı gerekli plan ve ölçümlerle hangi yöntemin uygulanacağına karar verir.</p>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <h3></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo esse eligendi quis, repellat natus, officia
                iusto voluptatum suscipit exercitationem eveniet commodi, qui veritatis adipisci aut possimus maiores.
                Harum, tempore non.</p>

            <ul class="icons">
                <li><a href=""><i class='bx bxl-facebook'></i></a></li>
                <li><a href=""><i class='bx bxl-instagram'></i></a></li>
                <li><a href=""><i class='bx bxl-twitter'></i></a></li>
                <li><a href=""><i class='bx bxl-youtube'></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>ow4krpo4worokwkr4wopp3rk3wpork3op3<span>dishekimligi</span></p>
        </div>
    </footer>





    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>