<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="appp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>

    <nav>
        <div class="logo"><img src="dis.jpg" alt="logo"></div>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>

        <ul class="ul container">

            <li><a href="index.html">
                    <p>Anasayfa</p>
                </a></li>
            <li><a href="implant.html">
                    <p>İMPLANT</p>
                </a></li>
            <li><a href="cocukhekimliği.html">
                    <p>Çocuk Hekimliği</p>
                </a></li>
            <li><a href="tedavi.html">
                    <p>Tedavilerimiz</p>
                </a></li>
            <li><a href="iletisim.html">
                    <p>İletişim</p>
                </a></li>
        </ul>
        <div><button type="button" class="btn btn-outline-primary">Randevu al</button></div>
    </nav>
    <div>
        <div class="content-wrapper">
            <div class="featured-content">
                <div>
                    
                        <p class="featured-desc">
                            Güzel bir gülüş için, <br>size özel seçenekler sunuyoruz<br><br>
                           <a style="font-weight: normal;">Bizimle İletişime Geçin</a> <br>
    
                           <a style="font: size 25px;;">0212 668 66 46</a> 
                        </p>
                    
                    
                </div>

                <div class="featured-buttons">

                    <button>
                        Mesaj Gönderin
                    </button>
                    <button>
                        Ziyaret Edin
                    </button>

                </div>
            </div>
        </div>
    </div>
    <div class="teams">
        <h1>
            <p>Profosyonel Ekibimizle Tanışın</p>
        </h1>
        <p></p>
        <div class="ekip-foto"><img src="image/ekip.jpg">
            <div>
                <h3>Experienced Practitioners</h3>
                <p>
                    Highlight your best offerings to convince
                    clients to choose you.</p>
                <h3>
                    Trained Dental Staff
                </h3>
                <p>


                    Highlight your best offerings to convince
                    clients to choose you.</p>
                <h3>
                    Warm and Friendly Team
                </h3>
                <p>
                    Highlight your best offerings to convince
                    clients to choose you</p>
                <button class="btn-style">
                    HİZMETLERİMİZİ GÖRÜNTÜLEYİN
                </button>
            </div>
        </div>

    </div>
    <h1 style="text-align: center;">Diş Tedavilerimiz</h1>
    <div class="container" style="padding: 80px;">
        <div class="row">
            <div class="col-6" >
                <div style="background-color: gray; padding-top: 5px; position: relative; " >
                    <h3>İmplant</h3>
                    <p style="width: calc(100% - 7rem);">Yüz estetiğinin bir parçası olan implant, diş fonksiyonu ve estetiğini taklit eden porselen
                        uygulamadır.</p>
                        <img src="image/implant.jpg" alt="logo" width="94px" height="95px"
                        style="position: absolute; top: 0; right: 0px;">
                </div>
            </div>
            <div class="col-6">
                <div style="background-color: gray; padding-top: 5px;position: relative;">
                    <h3>BEYAZLATMA (BLEACHİNG)</h3>
                    <p style="width: calc(100% - 7rem);">Yüz estetiğinin bir parçası olan implant, diş fonksiyonu ve estetiğini taklit eden porselen
                        uygulamadır.</p>
                        <img src="image/beyazlatma.jpg" alt="logo1" width="94px" height="95px"
                        style="position: absolute; top: 0; right: 0px;">
                </div>
            </div>
            <div class="col-6">
                <div style="background-color: gray;padding-top: 5px;position: relative;">
                    <h3>ESTETİK DİŞ HEKİMLİĞİ</h3>
                    <p style="width: calc(100% - 7rem);">Dişlerin beyazlatılma işlemi sağlıklı bir ağızda, daha beyaz ve doğal
                        gülümseme için güvenli bir çözümdür.</p>
                        <img src="image/estetik.jpg" alt="logo2" width="94px" height="95px"
                        style="position: absolute; top: 0; right: 0px;">
                   
                </div>
            </div>
            <div class="col-6">
                <div style="background-color: gray;padding-top: 5px;position: relative;">
                    <h3>PORSELEN LAMİNALAR</h3>
                    <p style="width: calc(100% - 7rem);">Dişlerin ön yüzeylerine yapıştırılan porselen yapraklar, çok kısa sürede yapılan en estetik
                        tedavi şeklidir.</p>
                        <img src="image/porselen_lamina.jpg" alt="logo3" width="94px" height="95px"
                        style="position: absolute; top: 0; right: 0px;">
                </div>
            </div>
        
        <div class="col-6">
            <div style="background-color: gray;padding-top: 5px;position: relative;">
                <h3>ORTODONTİ</h3>
                <p style="width: calc(100% - 7rem);">Ortodonti, diş ve yüz bozukluklarının tedavi ve önlenmesi için, braket gibi düzeltici aparatlar
                    kullanımını içerir.</p>
                    <img src="image/ortodonti.jpg" alt="logo4" width="94px" height="95px"
                        style="position: absolute; top: 0; right: 0px;">
            </div>
        </div>
        <div class="col-6">
            <div style="background-color: gray;padding-top: 5px;position: relative;">
                <h3>PROTEZ DİŞ</h3>
                <p style="width: calc(100% - 7rem);">Kaybedilen dişlerin yerine fonksiyonel ve estetik olarak sağlıklı dişlerle aynı görevi görecek
                    protezler yapılmaktadır.</p>
                    <img src="image/protez_dis.jpg" alt="logo5" width="94px" height="95px"
                        style="position: absolute; top: 0; right: 0px;">
            </div>
        </div>

    </div>
    </div>
    <br>
    <br>

    <h1 style="text-align: center;">Hekimlerimiz</h1>
    <div class="container" style="padding: 80px;">
        <div class="row" >
            <div class="col-3" style=" text-align: center; border-color: aqua; border: 1px;">
                <img src="image/seyma.png" alt="2" style="border-radius: 50%; width: 150px; height: 150px ;background-color: rgb(2, 3, 3);background-size: 1cm;">
                <p>Şeyma ÖZTÜRK</p>
                <p>Diş Hekimi</p>
            </div>
            <div class="col-3" style=" text-align: center;">
                <img src="image/dis-hekimi-emre-aydin.jpg" alt="2" style="border-radius: 50%; width: 150px; height: 150px ;background-color: rgb(2, 3, 3);background-size: 1cm;">
                <p>Emre AYDIN</p>
                <p>Diş Hekimi</p>
            </div>
            <div class="col-3" style=" text-align: center;">
                <img src="image/turkan-subasioglu-banner.png" alt="2" style="border-radius: 50%; width: 150px; height: 150px ;background-color: rgb(2, 3, 3);background-size: 1cm;">
                <p>Türkan ATMACA</p>
                <p>Diş Hekimi</p>
            </div>
            <div class="col-3" style=" text-align: center; ">
                <img src="image/reha-hur-800x800.jpeg"  alt="2" style="border-radius: 50%; width: 150px; height: 150px ;background-color: rgb(2, 3, 3);background-size: 1cm;">
                <p>Reha SOYLU</p>
                <p>Diş Hekimi</p>
            </div>
            <div class="col-3" style=" text-align: center;">
                <img src="image/serif.jpg" alt="2" style="border-radius: 50%; width: 150px; height: 150px ;background-color: rgb(2, 3, 3);background-size: 1cm;">
                <p>Şerif İNANIR</p>
                <p>Diş Cerrahisi</p>
            </div>
            <div class="col-3" style=" text-align: center;">
                <img src="image/mehmet.jpg" alt="2" style="border-radius: 50%; width: 150px; height: 150px ;background-color: rgb(2, 3, 3);background-size: 1cm;">
                <p>Mehmet ÖZTÜRK</p>
                <p>Diş Hekimi</p>
            </div>
            <div class="col-3" style=" text-align: center;">
                <img src="image/busra-duzen.jpg" alt="2" style="border-radius: 50%; width: 150px; height: 150px ;background-color: rgb(2, 3, 3);background-size: 1cm;">
                <p>Büşra DÜZEN</p>
                <p>Diş Cerrahisi</p>
            </div>
            <div class="col-3" style=" text-align: center;">
                <img src="image/can-atakan-800x800.jpeg" alt="2" style="border-radius: 50%; width: 150px; height: 150px ;background-color: rgb(2, 3, 3);background-size: 1cm;">
                <p>Can ATAKAN</p>
                <p>Diş Hekimi</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <h3></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo esse eligendi quis, repellat natus, officia
                iusto voluptatum suscipit exercitationem eveniet commodi, qui veritatis adipisci aut possimus maiores.
                Harum, tempore non.</p>

            <ul class="icons">
                <li><a href=""><i class='bx bxl-facebook'></i></a></li>
                <li><a href=""><i class='bx bxl-instagram'></i></a></li>
                <li><a href=""><i class='bx bxl-twitter'></i></a></li>
                <li><a href=""><i class='bx bxl-youtube'></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>ow4krpo4worokwkr4wopp3rk3wpork3op3<span>dishekimligi</span></p>
        </div>
    </footer>





    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>