<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="appp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>

    <nav>
        <div class="logo"><img src="dis.jpg" alt="logo"></div>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>

        <ul class="ul container">

            <li><a href="index.html">
                    <p>Anasayfa</p>
                </a></li>
            <li><a href="implant.html">
                    <p>İMPLANT</p>
                </a></li>
            <li><a href="cocukhekimliği.html">
                    <p>Çocuk Hekimliği</p>
                </a></li>
            <li><a href="tedavi.html">
                    <p>Tedavilerimiz</p>
                </a></li>
            <li><a href="iletisim.html">
                    <p>İletişim</p>
                </a></li>
        </ul>
        <div><button type="button" class="btn btn-outline-primary">Randevu al</button></div>
    </nav>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div style="position: relative;"><br><br>
                    <h4>Diş Ağrısı ve Tedavisi</h4>
                    <p>Diş ağrı şikayetlerine acısız çözüm</p><br>

                    Diş ağrısı; dişin çürümesi, minesinin aşınması, diş etlerinin iltihaplanması veya bunlara benzer
                    nedenlerden kaynaklanır. Diş ağrısı, neredeyse her insanın hayatının bir veya birden fazla döneminde
                    şikayet ettiği bir rahatsızlıktır.

                    Genel kanı, diş ağrılarının basit ağrılar olduğu yönündedir ve bu nedenle dayanılmaz hale gelinceye
                    kadar diş hekimine gitmek genellikle ertelenir. Ayrıca, yine aynı kanı nedeniyle bilinçsiz ağrı
                    kesici
                    kullanımının ve çeşitli yöntemlerin en sık görüldüğü ağrı çeşitlerinden biridir.
                </div>

            </div>
            <div class="col-6">
                <img src="image/disagrisi.jpg" alt="l5" style="height: 400px; width: 100%;">
            </div>
            <div class="col-6">
                <div style="position: relative; margin-top: 50px;margin-bottom: 50px;"><br><br>
                    <h4>Diş Dolgusu</h4>
                    <p>Dolguyla dişleriniz doğal biçimine kavuşsun</p><br>

                    Günümüzde kullanılan dolgu maddelerinin çoğu sadece dişe tutunur, yapışmaz. Bu nedenle, diş
                    hekimleri dolgu yaparken bazı tutucu önlemler alırlar. Bu önlemler, özel tutucu oyukların
                    hazırlanmasıyla mümkün olur. Dolgu yaparken ana kural olarak iyi bir kavite (oyuk) hazırlanır ve
                    dişe yapılacak dolguyla çürümeden önceki doğal biçimi tekrar verilmeye çalışılır.

                    Dolgu maddesini seçerken diş hekimleri maddenin arka dişlerde çiğneme basıncına dayanabilmesini, ön
                    dişlerde mümkün olduğunca fark edilmemesini, dişe ve diş özüne zarar vermemesini göz önüne alırlar.
                </div>

            </div>
            <div class="col-6" style="position: relative; margin-top: 50px; margin-bottom: 50px;">
                <img src="image/dolgu.jpg" alt="l5" style="height: 400px; width: 100%;">
            </div>
            <div class="col-6">
                <div style="position: relative; margin-top: 50px;margin-bottom: 50px;"><br><br>
                    <h4>Diş Taşı (TARTAR)</h4>
                    <p>Diş tartarı sorunlarını çözüyoruz</p><br>

                    Diş taşı olarak da adlandırılan tartar dişleriniz üzerinde sertleşen plaktır. Diş taşı, diş eti
                    çizgisinin altında ve üzerinde oluşabilir, diş eti dokularını tahriş edebilir. Plaklara, üzerinde
                    gelişebilmesi için yüzey alanı ve daha yapışkan bir yüzey sağlayarak çürük ve diş eti hastalığı gibi
                    daha ciddi durumlara yol açabilir.

                    Tartar, sadece diş ve diş eti sağlığınızı tehdit etmekle kalmaz, aynı zamanda kozmetik bir problem
                    de teşkil eder, gözenekli olduğundan dolayı çok kolay leke tutar. Kahve veya çay içme alışkanlığınız
                    varsa ya da sigara içiyorsanız tartar birikimini önlemeniz özellikle gereklidir.
                </div>

            </div>
            <div class="col-6" style="position: relative; margin-top: 50px; margin-bottom: 50px;">
                <img src="image/tartar.png" alt="l5" style="height: 400px; width: 100%;">
            </div>
            <div class="col-6">
                <div style="position: relative; margin-top: 50px;margin-bottom: 50px;"><br><br>
                    <h4>Diş Hassasiyeti</h4>
                    <p>Sıcak, soğuk, yiyecek-içecekler özgürce tüketin</p><br>

                    Çürük ve eski dolgular dışında hassasiyet en çok diş eti çekilmesi ile açığa çıkan kök yüzeylerinden
                    kaynaklanır. Normal olarak, dentin (dişin ikinci ve önemli bir tabakası) mine ve sement (kök
                    yüzeyini kaplayan özel tabaka) ile çepeçevre kuşatılmıştır. Diş hassasiyetinin sebebi tam olarak
                    anlaşılamamışsa da hassasiyetin dişin sinirine mikron düzeyindeki kanalcıklar aracılığı ile
                    iletildiği üzerinde duruluyor.
                </div>

            </div>
            <div class="col-6" style="position: relative; margin-top: 50px; margin-bottom: 50px;">
                <img src="image/hassasiyet.jpg" alt="l5" style="height: 400px; width: 100%;">
            </div>
            <div class="col-6">
                <div style="position: relative; margin-top: 50px;margin-bottom: 50px;"><br><br>
                    <h4>Ağız Ve Diş Bakımı</h4>
                    <p>Ağız ve diş sağlığınızda uzman</p><br>

                    Diş ve diş eti hastalıkları ülkemizde ve dünyada en önemli sağlık sorunları arasındadır. Ancak
                    hayatı doğrudan tehdit etmediği için gereken önem verilmemektedir. Ağız sindirim kanalının
                    girişidir. Ağızdaki olumsuzluklar diş sağlığının bozulmasına, sindirimin olumsuz etkilenmesine yol
                    açar. Dişlerin, besinlerin parçalanması, öğütülmesi görevlerinin yanı sıra konuşmada ve
                    görünümümüzde önemli etkileri vardır.
                </div>

            </div>
            <div class="col-6" style="position: relative; margin-top: 50px; margin-bottom: 50px;">
                <img src="image/bakım.png" alt="l5" style="height: 400px; width: 100%;">
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <h3></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo esse eligendi quis, repellat natus, officia
                iusto voluptatum suscipit exercitationem eveniet commodi, qui veritatis adipisci aut possimus maiores.
                Harum, tempore non.</p>

            <ul class="icons">
                <li><a href=""><i class='bx bxl-facebook'></i></a></li>
                <li><a href=""><i class='bx bxl-instagram'></i></a></li>
                <li><a href=""><i class='bx bxl-twitter'></i></a></li>
                <li><a href=""><i class='bx bxl-youtube'></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>ow4krpo4worokwkr4wopp3rk3wpork3op3<span>dishekimligi</span></p>
        </div>
    </footer>





    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>